*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.6;
}

body {
  font-family: Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

ul,
ol {
  list-style: none;
}

input {
  max-width: 100%;
}

.debug * {
  outline: 1px solid gold;
}

.done {
  text-decoration: line-through;
  font-style: italic;
}

// Shapes
.circle {
  border-radius: 50%;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.btn {
  @include btn; // Default button (primary blue)
}

.btn-round {
  border-radius: 1em;
}
.btn-round-1 {
  border-radius: 1.5em;
}
.btn-round-2 {
  border-radius: 2em;
}

.btn-pill {
  border-radius: 100vh;
}
